
.button {
  cursor: pointer;
}

.button:hover {
  opacity: 0.9;
}

.button-primary {
  background-color: var(--color-primary);
  padding: 10px 13px;
  border: 0;
  color: #EDEDED;
  margin: 5px;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  min-width: 150px;
  border-radius: 4px;
  font-weight: bold;
}

.button-secondary {
  background-color: transparent;
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  border-radius: 4px;
  padding: 10px 13px;
  min-width: 150px;
  font-family: 'Raleway', sans-serif;
  margin: 5px;
  font-size: 18px;
  font-weight: 600;
}