.hero {
  height: 100vh;
  text-align: center;
}

.hero-text {
  font-weight: normal;
  font-size: 18px;
  margin: 0;
}

.hero-title {
  margin: 0;
  padding: 0;
  font-size: 58px;
  font-family: var(--font-family-header);
  font-weight: normal;
  background: -webkit-linear-gradient(var(--color-primary), var(--color-primary-dark));
  text-transform: uppercase;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-buttons {
  margin-top: 35px;
}

@media (min-width:961px) {
  .hero-text {
    font-size: 23px;
  }
  
  .hero-title {
    font-size: 80px;
  }
}